.home-carousel-pagination{
    $dot-width: 6px;
    $bar-height: 130px;
    position: absolute;
    right: $padding-fluid-grid;
    bottom: $padding-default*2;
    z-index: 1;
    margin: auto;
    @include media-breakpoint-down(sm) {
        width: $dot-width *2;
        height: $dot-width *2;
        right: $padding-fluid-grid-m;
        left: $padding-fluid-grid-m;
        margin: auto;
        @include rotate(-90);
    }
    &__wrap{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 16px;
        @include media-breakpoint-down(sm) {
            position: relative;
            top: 50%;
            @include transform($translateY: -50%);
        }
    }
    &__progress{
        height: $bar-height;
        width: $dot-width;
        border-radius: $dot-width;
        background: rgba($color-white, .25);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        margin: auto;
        margin-top: 5px;
        overflow: hidden;
        @include transition($duration:.3s);
        @include transform($scale: 1);
        &:hover{
            @include transform($scale: #{1.3, 1});
        }
        span{
            display: block;
            position: absolute;
            height: 60%;
            top: 0;
            left: 0;
            right: 0;
            @include gradient-vertical($start-color: $color-gradient-to, $end-color: $color-gradient-from);
            border-radius: $dot-width;
        }
    }
    &__bullets{
        margin: 0;
        display: table;
        width: $dot-width + $padding-default/1.5;
    }
    &__button{
        cursor: pointer;
        border: 0;
        background: none;
        display: block;
        padding: $padding-default/3;
        position: relative;
        outline: none;
        @include transform($scale: 1);
        @include transition($duration:.2s, $property: padding);
        &:focus{
            outline: 0;
        }
        &:before{
            content: '';
            display: block;
            width: $dot-width;
            height: $dot-width;
            background: $color-white;
            border-radius: $dot-width;
            @include transition($duration:.2s);
            @include transform($scale: 1);
        }
        &:not(.active){
            &:hover{
                &:before{
                    @include transform($scale: 2);
                }
                span{
                    padding-right: ($padding-default*1.5) + $dot-width;
                    opacity: 1;
                    pointer-events: visible;
                    @include transform($scale: 1);
                }
            }
        }
        &.active{
            margin-bottom: $bar-height - 5;//5 is padding
            &:before{
                @include transform($scale: 0);
            }
        }
        span{
            position: absolute;
            cursor: pointer;
            display: block;
            padding-right: 0;
            text-transform: uppercase;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba($color-white, 0);
            height: $dot-width;
            line-height: $dot-width;
            @include transition($duration:.2s);
            @include transform($scale: 0);
            color: $color-white;
            white-space: nowrap;
            margin: auto;
            // opacity: 0;
            pointer-events: none;
            font-size: 90%;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
}