.contact{
    &__text{
        line-height: 32px;
        font-size: 18px;
    }
    &__title{
        font-family: $font-family-mont;
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        text-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        padding-bottom: $padding-default*2;
        padding-top: $padding-default;
        font-weight: unset;
    }
}
@include media-breakpoint-down(sm) {
    .contact{
        &__title{
            padding-bottom: $padding-default;
        }
    }
}